{% extends "main.html" %}
{% block head %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{url_for('static',filename='img/admin.jpg')}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{params['blog_name']}}</h1>
              <span class="subheading">{{params['blog_tagline']}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Basic Actions</h1>
        <a href="/edit/0"><button type="submit" class="btn btn-primary" id="sendMessageButton">Add A New Post</button></a>
        <a href="/logout"><button type="submit" class="btn btn-primary" id="sendMessageButton">Logout</button></a>
        <hr>
          <h1>Upload A File</h1>
          <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input class="btn btn-primary " type = "submit"/>
      </form>
          <hr>
                   

            <h1>All posts</h1>
           <table class="table">
              <thead>
                <tr>
                  <th>Sno</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for post in posts %}
                {% if post %}
                <tr>
                  <td>{{post.sno}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.date}}</td>
                  <td><div class="clearfix">
                     <a class="btn btn-primary float-right" href="/edit/{{post.sno}}">Edit</a>
                       </div></td>
                  <td><div class="clearfix">
                   <a class="btn btn-primary float-right" href="/delete/{{post.sno}}">Delete</a>
                    </div></td>
                   </tr>
              {% endif  %}
              {% endfor %}
              </tbody>
            </table>
          
        </div>
      </div>
    </div>

    <hr>
{% endblock %}